
html{
  height: 100%;
}



body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 70px;
  /* background-image: url(../img/13999.jpg);
  background-position: center center;
  background-size: auto;
 */
 
  }

header{
   
    flex: 0 0 auto;
 }
 
 .main-content{
   
    flex: 1 0 auto;
 }

*:focus { outline: none; } 

@font-face {
  font-family: "Adikku";
  src: url('./fonts/Adikku_Pandai_Menari.ttf') format("truetype");
  
}

@font-face {
  font-family: "Lobster Two";
  src: url('./fonts/LobsterTwo-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url('./fonts/OpenSans-Regular.ttf') format("truetype");
}

/* NAVBAR */

#barra{
  visibility: hidden;
}

.idioma{
  padding-left: 10px;
  padding-top: 2px;
}

@media only screen and (max-width: 995px) {
  
  .idioma{
    padding-left: 0px;
    padding-top: 0px;
  }
}



.navbar {
    background-color:white;
}

#test1::before,
#test2::before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

li a{
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
}

/* BOTÓN SUBIR */

@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Estilo botón subir */

#top-btn {
  width: 50px;
  height: 50px;
  bottom: -50px;
  right: 20px;
  position: fixed;
  text-align: center;
  border-radius: 100px;
  background-color: #3DCC8E;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: all .8s;
  transition: all .8s;
}

#top-btn:hover {
  background-color: #1aa469;
}

#top-btn:hover i {
  padding-top: 5px;
}

#top-btn i {
  padding-top: 15px;
  font-size: 20px;
  /* line-height: 50px; */
  color: #FFFFFF;
  -webkit-transition: all .8s;
  transition: all .8s;
}



/* CARRUSEL */


.carousel-caption p {
  font-family: "futura-pt", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  -webkit-text-stroke: 1px black;
}

.carousel-inner {
  position: relative; 
  width: 98.7vw;
  height: 80vh;
  overflow: hidden;
}

.carousel-inner .carousel-item {
  transition: transform 1s ease;
}

.item {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.carousel-item-left .carousel-caption,
.carousel-item-right .carousel-caption {
  animation: keepSliding 0.5s normal forwards;
}

.carousel-item-next .carousel-caption,
.carousel-item-prev .carousel-caption {
  animation: slideLeft 1s normal forwards;
}

.carousel-indicators li {
  width: 20px;
  height: 5px;
  margin: 0 5px;
  border-radius: 2.5px;
  transition: all 0.5s ease;
  transform-origin: 50%, 50%, 0;
}

.carousel-indicators .active {
  width: 25px;
 
}

.carousel-control-prev,
.carousel-control-next {
  width: 15vw;
  margin: 15px;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes keepSliding {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.bolasCarrusel {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  border-radius: 100px;
  background-color: rgb(255, 166, 1);
  cursor: pointer;
}


/* SERVICIOS */

.servicios {
  /* background-image: url(../img/Background01.jpg); */
  padding: 20px;
}

.jello-horizontal:hover {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}



.btnServicios {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.iconoServicios {
  padding: 15px;
  display: flex;
  justify-content: center;
}


/* BIENVENIDA */


.bienvenida {
  /* background-image: url(../img/BackgroundBienvendida.jpg); */
  padding: 20px;

}

@media only screen and (min-width: 770px) {
#margen {
  margin-right: 15%;
  margin-left: 15%; 
}
}

#textoAnimado {

  visibility: hidden;

}

#entradaVideo {

  visibility: hidden;

} 

#textoAnimado2 {

  visibility: hidden;

} 

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}


.slideLeft {
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

.bienvenida h1{
  font-family: "Lobster Two";
  font-size: 48px;
}

.bienvenida h2{
  font-family: "Lobster Two";
  font-size: 35px;
}

/* Clases */

.clases {
  
  padding: 20px;

}

.clases h1{
  font-family: "Lobster Two";
  font-size: 48px;
}

.clases h2{
  font-family: "Lobster Two";
  font-size: 35px;
}

#nina {

  visibility: hidden;

}

#mono {

  visibility: hidden;

} 

#hipo {

  visibility: hidden;

} 

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}



/* GALERÍA */

.galeria {
  /* background-image: url(../img/BackgroundGaleria.jpg); */
  padding: 50px;
  width: auto;
}

.galeria h1{
  font-family: "Lobster Two";
  font-size: 48px;
}


/* PROFESORES */
.maestras {
  /* background-image: url(../img/BackgroundMaestras.jpg); */
  padding: 50px;

}

/* .profesores {
  background-color: #F9F9F9;
  padding: 50px;
  width: auto;
} */

.maestras h1{
  font-family: "Lobster Two";
  font-size: 48px;
}

.maestras h2{
  font-family: "Open Sans";
  font-weight: bold;
  color: #F9F9F9;
}

/* EFECTO DESCRIPCIÓN PROFESORAS */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}


/* Opiniones */

#opiniones {
  /* background-image: url(../img/BackgroundMaestras.jpg); */
  padding: 50px;
  
}

.opiniones h1{
  font-family: "Lobster Two";
  font-size: 48px;
}

.carousel-inner2 {
  position: relative; 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 660px) {
  
  .carousel-inner2 {
    position: relative; 
    width: 92vw;
    height: 20vh;
    overflow: hidden;
  }

}



/* Contacto */

.contacto h1{
  font-family: "Lobster Two";
  font-size: 48px;
}

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }


 

/* Footer */

.red {
  color: red !important;
}

footer {
  background-image: url(../img/footer.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 80px 0;
}

footer h3{
  font-family: "Open Sans";
  font-weight: bold;
  color: black;
}

@media (max-width: 400px) {
  
  footer {
    background-image: url(../img/footer.png);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 80px 0;
  }

}
footer .footer-widget h3 {
  margin-bottom: 30px;
}
footer .contact-link {
  display: inline-block;
  width: 100%;
  color: #333;
}
footer .footer-social ul {
  padding-left: 0;
}
footer .footer-social ul li {
  list-style: none;
  float: left;
  padding: 0 10px;
}
footer .footer-social ul li:first-child {
  padding-left: 0;
}
footer .footer-social ul li a {
  font-size: 20px;
  color: #333;
}
footer .footer-social ul li a:hover {
  color: red;
}
footer .opening-time {
  padding-left: 0;
}
footer .opening-time li {
  list-style: none;
}
footer .opening-time li span {
  float: left;
  padding-right: 10px;
}
footer .opening-time li span .fa-times {
  color: red;
}
footer .opening-time li strong {
  color: red;
}
footer .media-body a {
  color: #333;
}
footer .media-body a:hover {
  color: red;
}
footer .media-body span {
  color: #969696;
}
footer .images-gellary ul {
  padding-left: 0;
}
footer .images-gellary ul li {
  list-style: none;
  float: left;
  margin: 0 3% 2% 0;
  width: 31%;
  position: relative;
}
footer .images-gellary ul li:nth-child(3n) {
  margin: 0 0 1%;
}

